*.pdf
*.djvu
*.zip
*.jpg
*.jpeg
*.png
*.pnm
*.html
*.json
*.txt
*.wikitext
*.ps1
*.js
.tmp_*
*/images/
*/_sample_pages/
*/batch/
*/batch_refined/
*/tessdata/
Transcriptions/*/tessdata/
Transcriptions/*/scripts/
.venv*/
*/.venv*/
